.el_canvas {
  border: 1px solid #adb5bd;
  width: 100%;
}
// for rain  effect
.canvas {
  display: inline;
  height: 100vh;
}

.flowerA {
  width: 15px;
  height: 15px;
  border-radius: 45% 25% 50% 20%;
  z-index: 1;
  position: absolute;
  top: -20%;
}

.flowerB {
  width: 8px;
  height: 8px;
  border-radius: 60% 15% 65% 20%;
  z-index: 1;
  position: absolute;
  top: -10%;
}

.flowerC {
  width: 10px;
  height: 10px;
  border-radius: 60% 17% 55% 23%;
  z-index: 1;
  position: absolute;
  top: -5%;
}

.petal {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 1;
}

.petal1 {
  position: relative;
  left: -70%;
  top: 20%;
}

.petal2 {
  position: relative;
  left: -50%;
  top: -18%;
}

.petal3 {
  position: relative;
  left: 720%;
  top: -170%;
}

.petal4 {
  position: relative;
  left: -300%;
  top: -363%;
}

.petal5 {
  position: relative;
  left: 530%;
  top: -450%;
}

#flower1 {
  background-image: linear-gradient(
    rgba(251, 132, 156, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 4%;
  animation-name: rain;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#flower2 {
  background-image: linear-gradient(
    120,
    rgba(251, 132, 156, 0.803),
    rgba(255, 197, 208, 0.9)
  );
  position: absolute;
  left: 8%;
  animation-name: rain;
  animation-duration: 15.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}

#flower3 {
  background-image: linear-gradient(
    rgba(255, 197, 208, 0.422) rgba(255, 166, 184, 0.803)
  );
  position: absolute;
  left: 12%;
  animation-name: rain;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

#flower4 {
  background-image: linear-gradient(
    rgba(251, 132, 156, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 16%;
  animation-name: rain;
  animation-duration: 14.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2.5s;
}

#flower5 {
  background-image: linear-gradient(
    rgba(255, 197, 208, 0.422) rgba(255, 166, 184, 0.803)
  );
  position: absolute;
  left: 20%;
  animation-name: rain;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#flower6 {
  background-image: linear-gradient(
    rgba(251, 132, 156, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 24%;
  animation-name: rain;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 4.5s;
}

#flower7 {
  background-image: linear-gradient(
    rgba(255, 197, 208, 0.422) rgba(251, 132, 156, 0.803)
  );
  position: absolute;
  left: 28%;
  animation-name: rain;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
}

#flower8 {
  background-image: linear-gradient(
    rgba(255, 183, 197, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 34%;
  animation-name: rain;
  animation-duration: 17;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2.5s;
}

#flower9 {
  background-image: linear-gradient(
    rgba(255, 197, 208, 0.422) rgba(255, 166, 184, 0.803)
  );
  position: absolute;
  left: 42%;
  animation-name: rain;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

#flower10 {
  background-image: linear-gradient(
    rgba(255, 183, 197, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 46%;
  animation-name: rain;
  animation-duration: 16.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

#flower11 {
  background-image: linear-gradient(
    rgba(255, 197, 208, 0.422) rgba(255, 166, 184, 0.803)
  );
  position: absolute;
  left: 50%;
  animation-name: rain;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 4.5s;
}

#flower12 {
  background-image: linear-gradient(
    rgba(255, 183, 197, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 55%;
  animation-name: rain;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

#flower13 {
  background-image: linear-gradient(
    rgba(251, 132, 156, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 60%;
  animation-name: rain;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

#flower14 {
  background-image: linear-gradient(
    rgba(255, 183, 197, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 65%;
  animation-name: rain;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

#flower15 {
  background-image: linear-gradient(
    rgba(255, 183, 197, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 75%;
  animation-name: rain;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

#flower16 {
  background-image: linear-gradient(
    rgba(251, 132, 156, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 85%;
  animation-name: rain;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

#flower17 {
  background-image: linear-gradient(
    rgba(255, 166, 184, 0.803),
    rgba(255, 197, 208, 0.422)
  );
  position: absolute;
  left: 95%;
  animation-name: rain;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

@keyframes rain {
  0% {
    transform: translate3d(5px, 15px, 5px) rotate(0deg);
    top: -10%;
  }
  5% {
    transform: translate3d(25px, 25px, 35px) rotate(0deg);
    top: -10%;
  }
  15% {
    transform: translate3d(45px, 25px, 5px) rotate(165deg);
  }
  30% {
    transform: translate3d(40px, 30px, 5px) rotate(145deg);
  }
  40% {
    transform: translate3d(55px, 35px, 5px) rotate(85deg);
  }
  50% {
    transform: translate3d(50px, 40px, 5px) rotate(195deg);
  }
  65% {
    transform: translate3d(25px, 45px, 5px) rotate(75deg);
  }
  80% {
    transform: translate3d(30px, 40px, 5px) rotate(225deg);
  }
  100% {
    transform: translate3d(0, 0, 5px) rotate(260deg);
    top: calc(100vh - 20px);
  }
}
